<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>博客</title>
	<link rel="stylesheet" href="/css/hd.css">
	<!--<link rel="stylesheet" href="/css/bootstrap.css" />-->
	<link rel="stylesheet" href="/css/swiper.min.css" />
	<!-- <script type="text/javascript" src="/libs/angular.min.js"></script> -->
</head>
<body>
<header>
	<h1><%= title %></h1>
</header>
<nav id="left-menu">
	<a title="首页" href="/" <% if (title == '首页') { %> class="current"  <% } %> >HOME</a>
	<a title="存档" href="/archive" <% if (title == '存档') { %> class="current"  <% } %>  >STORAGE</a>
	<a title="标签" href="/tags" <% if (title == '标签') { %> class="current"  <% } %>  >TAGS</a>
	<a title="友情链接" href="/links" <% if (title == '友情链接') { %> class="current"  <% } %>  >LINKS</a>
	<% if(user) { %>
	<a title="上传" href="/upload" <% if (title == '上传') { %> class="current"  <% } %>  >UPLOAD</a>
	<a title="发表文章" href="/post" <% if (title == '发表文章') { %> class="current"  <% } %>  >WRITE</a>
	<a title="媒体库" href="/vedio" <% if (title == '媒体库') { %> class="current"  <% } %>  >VEDIO</a>
	<a title="退出" href="/logout" <% if (title == '退出') { %> class="current"  <% } %> >LOGOUT</a>
	<% } else { %>
	<a title="登录" href="/login" <% if (title == '登录') { %> class="current"  <% } %>  >LOGIN</a>
	<!--<a title="注册" href="/reg" <% if (title == '注册') { %> class="current"  <% } %> >REGIST</a>-->
	<% } %>
	<form action="/search" method="GET">
		<input type="text" name="keyword" placeholder="SEARCH" class="search" />
	</form>
</nav>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<article>
			<% if (success) { %>
			<div><%= success %></div>
			<% } %>
			<% if(error) { %>
			<div><%= error %> </div>
			<% } %>
